
.test{
padding: 50px;
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 600px) {
  .container a {
    font-size: 40px;
  }
  .container p {
    font-size: 20px;
  }
}

/* If the screen size is between 601px and 700px */
@media only screen and (min-width: 601px) and (max-width: 700px) {
  .container a {
    font-size: 60px;
  }
  .container p {
    font-size: 25px;
  }
}

/* If the screen size is 701px wide or more */
@media only screen and (min-width: 701px){
  .container a {
    font-size: 80px;
  }
  .container p {
    font-size: 30px;
  }
}


